.step1 {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;

  .title {
    font-weight: 600;
    font-size: 55px;
    line-height: 60px;
    text-align: center;
    color: #2A3D56;
  }

  .text {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #7D7987;
    mix-blend-mode: normal;
  }

  .inputs {
    display: flex;
    gap: 30px;

    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: #2A3D56;
      }

      input {
        background: #FFFFFF;
        border: 1px solid #EFEFEF;
        border-radius: 20px;
        padding: 17px 25px;
        width: 100%;
        height: 57px;
      }
    }

    .le {
      display: flex;
      width: 50%;
      gap: 29px;

      .li {
        position: relative;

        input {
          background: #FFFFFF;
          border: 1px solid #EFEFEF;
          border-radius: 20px 0 0 20px;
          padding: 17px 50px 17px 25px;
          width: calc(100% - 50px);
          height: 57px;
        }

        .rt {
          background: linear-gradient(360deg, #DEF8C5 0%, rgba(200, 255, 145, 0) 100%), #F5F9FC;
          width: 50px;
          height: 57px;
          position: absolute;
          bottom: 0;
          right: 0;
          border-radius: 0 20px 20px 0;
          display: flex;
          justify-content: center;
          align-items: center;

          .icon {
            font-size: 24px;
          }
        }
      }
    }
  }

  .bts {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
    margin-bottom: 50px;

    .lbt1 {
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
      color: #007436;
      background-color: transparent;
      border: 1px solid #007436;
      border-radius: 100px;
      padding: 16px 27px;
    }

    .lbt2 {
      font-weight: 600;
      font-size: 20px;
      border-radius: 100px;
      line-height: 22px;
      color: #FFFFFF;
      background-color: #007436;
      border: 1px solid #007436;
      padding: 16px 27px;
    }
  }
}
